html, body, #map-canvas, #pane {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#map-canvas, #pane {
  display: inline-block;
}

#map-canvas {
  width: 80%;
  margin-left:20%;
}

#pane {
  width: 20%;
  position: fixed;
}

#district-text {
  display: inline-block;
}
