html, body, main, #map-canvas, #pane {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

main {
  padding-bottom: 64px;
}

.indigo span {
  color: white;
}

.pageTitle {
  font-size: 1.25em;
}

.button-collapse.menu {
  padding-left: 16px;
  padding-right: 16px;
}
 header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
