html, body, main, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

main {
  padding-bottom: 64px;
}

.pageTitle {
  font-size: 1.25em;
}

#slide-out li.datasetNames {
  cursor: pointer;
}

#settingsDrop .title {
  color: #727272;
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 0 5px;
}
#settingsDrop li {
  padding: 0 5px;
}

.nav-icons a {
  cursor: pointer;
}

#infoBody {
  color: initial;
  height: 100%;
  width: inherit;
  position: fixed;
  overflow-y: auto;
  padding: 8px 24px;
  line-height: initial;
}

#infoNotes {
  white-space: pre-line;
  line-height: 1.75em;
}

#infoBody .card {
  border-radius: 3px;
}

#info-right {
  right: -510px;
  width: 500px;
  transition: 0.2s;
}

#info-close {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 12px 24px;
  cursor: pointer;
}

.button-collapse.menu {
  padding-left: 16px;
  padding-right: 16px;
}
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .navbar-fixed, nav, nav .button-collapse, nav .button-collapse i {
    line-height: 64px;
    height: 64px;
  }
}
